@*<!DOCTYPE html>*@@*@Model IENumerable<MvcBookStore.Models.SACH>*@
@using MvcBookStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>   
 @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }


<h2 style="text-align:center;color:red">SÁCH MỚI</h2>
@foreach (var sach in Model)
{
    <div class="templatemo_product_box" >
        <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
            <img alt="@sach.Tensach" src="~/Hinhsanpham/@sach.Hinhminhhoa" width="80" />
            @sach.Tensach
        </a>
        <div class="ratings">
            <p class="pull-right">15 Reviews</p>
            <a href="@Url.Action("ThemGiohang","Giohang", new { @iMaSACH= sach.Masach,@strURL=Request.Url.ToString() })" class="addtocart"><img src="~/Images/giohang.png " width="30"height="30" /></a>
            <a href="@Url.Action("Details","BookStore", new { id= sach.Masach})" class="detail"><img src="~/Images/detail.png" width="30" height="30" /></a>
        </div>
    </div>
}
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
            


