@model MvcBookStore.Models.SACH

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN CHI TIẾT SÁCH</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Tensach)*@
            Tên sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            Đơn vị tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            Đơn giá:
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Dongia)*@
            @String.Format("{0:0,0}",Model.Dongia) VNĐ
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Mota)*@
            Mô tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Hình minh họa:
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Hinhminhhoa)*@
            <img src="@Url.Content("~/Hinhsanpham/"+Model.Hinhminhhoa)"width="120px"/>
        </dd>

        <dt>
            Mã chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

        <dt>
            Mã nhà xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Ngaycapnhat)*@
            Ngày cập nhật:
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Ngaycapnhat)*@
            @String.Format("{0:dd/MM/yyyy}",Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongban)
        </dd>

        <dt>
            Số lần xem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solanxem)
        </dd>

        <dt>
            Mới:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ĐIỀU CHỈNH", "Suasach", new { id = Model.Masach }) |
    @Html.ActionLink("TRỞ VỀ", "sach")
</p>
